.carousel {
  height: 500px;
  width: 1070px;
  overflow: hidden;
  margin: 0 auto;
}

.next span, .prev span {
  visibility: hidden;
}

.carousel-3d-slide {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
