<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%- info.title %></title>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <!-- Semantic META -->
    <link rel="shortcut icon" href="http://static.i5sing.com/favicon.ico" />
    <meta name="keywords" content="<%- keyword %>">
    <meta name="description" content="<%- info.description %>">
    <!-- Semantic META end -->
    <script>
        eval('window.__INITIAL_STATE__= <%- initialState %>');
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?6260b5c4f0c31812b9501258fba12c9a";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
    <%- app %>
    <script src="/dist/lib-bundle.js"></script>
    <script src="/dist/client-bundle.js"></script>
</body>
</html>